/* التنسيق العام للـ Navbar */
.custom-navbar {
  background-color: #f8f9fa;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* زر التبديل */
.navbar-toggler-image {
  width: 40px;
}

/* الشعار */
.img-home-nav {
  width: 150px;
  display: block;
  margin: 0 auto;
}

/* أيقونات الشريط */
.navbar-nav .nav-link {
  color: #333;
  font-size: 23px;
  margin: 0 8px;
  transition: color 0.3s ease;
}

/* التأثير على الروابط */
.navbar-nav .nav-link:hover {
  color: #000;
}

/* شاشات الجوال الصغيرة */
@media (max-width: 767px) {
  /* التنسيق العام لشاشة الجوال */
  .navbar-toggler {
    display: flex;
    justify-content: center;
  }

  /* تحكم في تمدد الشريط في الشاشات الصغيرة */
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* عرض الروابط بشكل عمودي وتوسيطها */
  .navbar-nav {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }

  /* حجم الشعار في الشاشات الصغيرة */
  .img-home-nav {
    width: 100px; /* تقليل حجم الشعار */
    margin: 10px 0;
  }

  /* حجم النص للروابط */
  .navbar-nav .nav-link {
    font-size: 18px; /* تقليل حجم النص */
    margin: 5px 0; /* زيادة المسافات بين الروابط */
  }

  /* الأيقونات */
  .navbar-icons .nav-link {
    font-size: 20px; /* تقليل حجم الأيقونات */
    margin: 0 5px;
  }
}
