.swiper-container {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  overflow: hidden;
}

.swiper-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* إزالة الحواف لجعل الصور تلتصق ببعضها */
  background-color: rgba(128, 128, 128, 0.1);
}

.swiper-slide img {
  max-width: 80px;
  height: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .swiper-container h2 {
    font-size: 18px;
  }

  .swiper-slide img {
    max-width: 60px;
  }
}
