/* نافذة تسجيل الدخول */
.signin-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.signInModal {
    z-index: 9999;
    /* تأكد من أن هذه القيمة أعلى من باقي العناصر */
}
.form1 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.secform {
    max-width: 800px;
    /* تأكد من وجود مساحة كافية */
    width: 90%;
    /* لجعلها تستجيب للأجهزة */
}

.form1 input {
    width: 100%;
    /* جعل الحقول تملأ العرض */
}